LANGSMITH_API_KEY=

# GIGA_AGENT SETTINGS
GIGA_AGENT_LLM=openai:gpt-4o
GIGA_AGENT_LLM_FAST=openai:gpt-4o-mini
GIGA_AGENT_EMBEDDINGS=openai:text-embedding-3-small
GIGA_AGENT_SENTIMENT_MODEL=models/sentiment_openai.joblib
GIGA_AGENT_LANG=en-US
IMAGE_GEN_NAME=openai:dall-e-2
IMAGE_GEN_PARALLEL=5

# REQUIRED OPENAI SETTINGS
OPENAI_API_KEY=

## SERVICES
TAVILY_API_KEY=
VK_TOKEN=
GITHUB_PERSONAL_ACCESS_TOKEN=
OWM_API_KEY=

# FUSION BRAIN (IMAGE GENERATION)
KANDINSKY_API_KEY=
KANDINSKY_SECRET_KEY=

TWOGIS_TOKEN=

SALUTE_SPEECH=
SBER_TTS_TIMEOUT=30

## INTERNAL STUFF
PLOTLY_RENDERER=plotly_mimetype
MAX_KERNEL_LIVE=300
FILES_DIR=files
LANGGRAPH_API_URL="http://langgraph-api:8000/"
JINA_READER_URL=https://r.jina.ai/
CHARACTER_LIMIT=100000
REPL_FROM_MESSAGE=0
